@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* This creates a hard-coded dark red atmospheric glow */
  background: radial-gradient(circle at 50% 0%, #220000 0%, #000000 70%);
  background-attachment: fixed;
  min-height: 100vh;
}